
              <div data-item-variant-id="{{ item.variant_id }}" id="w-node-_73ae24be-1d9d-3c5f-c575-948b3c01c465-3c01c465" class="line-item u-hflex-left-top u-hflex-nowrap u-gap-medium">
                <div class="line-item_img-wrap">
                  <div style="background-image: url({{ item.product.featured_image | image_url: width: 1 }});  background-repeat: no-repeat; background-size: 100%;" lazyloadwrap="true" class="image-wrap"><img src="{{ item.product.featured_image | image_url: width: 220 }}" alt="{{ item.product.featured_image.alt  }}" loading="lazy" class="image"></div>
                </div>
                <div class="line-item_content max-width-full u-vflex-stretch-between u-gap-medium">
                  <div class="u-vflex-stretch-between u-gap-xtiny">
                    <div class="u-vflex-stretch-between u-gap-tiny">
                      <div class="u-primary-medium u-allcaps">{{ item.product.title }}</div>
                      {% render 'price', product: item.product %}
                      <div>{{ item.variant.title }}</div>
                    </div>
                  </div>
                  <div class="u-hflex-left-center u-gap-tiny line-item-delete">
                    <div class="u-cursor-pointer">
                      <div button-action="deleteItem" class="u-allcaps u-primary-medium">Remove item</div>
                      <div class="button-link_underscore"></div>
                    </div>
                  </div>
                </div>
                <div class="quantity-selector u-hflex-left-top u-gap-xsmall u-hflex-nowrap"><input type="number" name="updates[]" class="quantity-selector_input is--small" value="{{ item.quantity }}">
                  <div class="quantity-selector_arrows">
                    <div quantitybutton="inc" role="button" class="quantity-selector_button u-vflex-center-top"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 9 5" fill="none" class="quantity-selector_arrow">
                        <path d="M8.02062 3.70228L7.43517 4.24276L4.01031 1.08096L0.585447 4.24276L0 3.70228L4.01031 0L8.02062 3.70228Z" fill="currentColor"></path>
                      </svg></div>
                    <div quantitybutton="dec" role="button" class="quantity-selector_button u-vflex-center-center"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 9 5" fill="none" class="quantity-selector_arrow is--down">
                        <path d="M8.02062 3.70228L7.43517 4.24276L4.01031 1.08096L0.585447 4.24276L0 3.70228L4.01031 0L8.02062 3.70228Z" fill="currentColor"></path>
                      </svg></div>
                  </div>
                </div>
              </div>
            