<a href="{{ product.url }}" data-first-variant-id="{{ product.selected_or_first_available_variant.id }}" data-handle="{{ product.handle }}" id="w-node-_91486c3b-998a-53a6-af8e-966ad763498d-d763498d" class="product-card">
                <div href="{{ product.url }}" class="product-card_link u-vflex-left-top u-gap-medium">
                  <div class="product-card_top">
                    <div lazyLoadWrap style="background-image: url({{ product.featured_image | image_url: width: 1 }});  background-repeat: no-repeat; background-size: 100%;" class="product-card_image-wrap is--top"><img src="{{ product.featured_image | image_url: width: 1000 }}" alt="{{ product.image.alt }}" class="product-card_image"></div>
                    <div lazyLoadWrap style="background-image: url({{ product.images[1]| image_url: width: 1 }});  background-repeat: no-repeat; background-size: 100%;" class="product-card_image-wrap"><img src="{{ product.images[1]| image_url: width: 1000 }}" alt="{{ product.image.alt }}" class="product-card_image"></div>
                  </div>
                  <div class="product-card_bottom u-hflex-left-top u-hflex-between-top u-hflex-nowrap">
                    <div class="product-card_title-wrap u-vflex-left-top u-gap-small">

                      <div class="u-h3">{{ product.title }}</div>

                      {% render 'price', product: product %}

                      <div>
                        <div class="u-allcaps u-primary-medium">Buy now</div>
                        <div class="button-link_underscore"></div>
                      </div>

                    </div>
                  </div>
  </div>
</a>