<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">

      <link rel="icon" type="image/png" href="{{ 'favicon' | image_url: width: 32, height: 32 }}">
    
    <title>
      {{ page_title }}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}  
    
    {{ content_for_header }}   

    {% render 'analytics-scripts' %}

    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'project.css' | asset_url | stylesheet_tag }}
    {{ 'webflow.css' | asset_url | stylesheet_tag }}

  </head>

  <body>

    {% sections 'header-group' %}

    <main role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script src="{{ 'gsap-min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'ScrollTrigger-min.js' | asset_url }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  </body>
</html>
