<style>

.is--header {
  z-index: 3;
}

  </style>


{% comment %} 4.63rem {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Flip.min.js"></script>
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<div class="preloader">
</div>

<header class="header header  {% if template.name == 'index' %}
  is--home
{% endif %}">
      <div class="padding-global max-width-full z-index-2 is--header">
        <div class="header_grid u-grid-12-col">
          <div id="w-node-_223ff329-c576-0e93-44a9-7b8af92f9a81-02e95be1" class="header_left"><button class="u-allcaps u-primary-medium">
              <div>menu</div>
            </button></div>
          
            
              <div class="header_middle u-hflex-center-top">
                <a href="{{ shop.url }}" class="header_logo-inner-wrap u-hflex-center-top">
                  {% unless template.name == 'index' %}  
                  
                   <svg xmlns="http://www.w3.org/2000/svg" class="hero_logo" viewbox="0 0 158 38" fill="none">
                    <g clip-path="url(#clip0_126_37)">
                      <path d="M8.07 18.79L4.42 12.52H2V18.79H0V3.45001H4.95C6.11 3.45001 7.09 3.65001 7.89 4.04001C8.69 4.44001 9.29 4.97001 9.68 5.65001C10.07 6.33001 10.27 7.09001 10.27 7.96001C10.27 9.02001 9.97 9.95001 9.36 10.75C8.75 11.56 7.84 12.09 6.62 12.36L10.47 18.78H8.07V18.79ZM2 10.91H4.95C6.03 10.91 6.85 10.64 7.39 10.11C7.93 9.58001 8.2 8.86001 8.2 7.96001C8.2 7.06001 7.93 6.35001 7.4 5.85001C6.86 5.35001 6.05 5.10001 4.95 5.10001H2V10.91Z" fill="currentColor"></path>
                      <path d="M19.7803 5.07999V10.21H25.3703V11.86H19.7803V17.14H26.0303V18.79H17.7803V3.42999H26.0303V5.07999H19.7803Z" fill="currentColor"></path>
                      <path d="M42.13 3.45001V5.08001H35.46V10.25H40.87V11.88H35.46V18.79H33.46V3.45001H42.13Z" fill="currentColor"></path>
                      <path d="M52.01 17.94C50.84 17.27 49.91 16.34 49.23 15.15C48.55 13.95 48.21 12.61 48.21 11.11C48.21 9.61 48.55 8.27 49.23 7.07C49.91 5.87 50.84 4.94 52.01 4.28C53.18 3.61 54.48 3.28 55.9 3.28C57.32 3.28 58.64 3.61 59.82 4.28C60.99 4.95 61.92 5.87 62.59 7.06C63.26 8.25 63.6 9.6 63.6 11.11C63.6 12.62 63.26 13.97 62.59 15.16C61.92 16.35 60.99 17.28 59.82 17.94C58.65 18.61 57.34 18.94 55.9 18.94C54.46 18.94 53.18 18.61 52.01 17.94ZM58.79 16.46C59.65 15.96 60.32 15.25 60.81 14.33C61.3 13.41 61.55 12.34 61.55 11.12C61.55 9.9 61.3 8.81 60.81 7.9C60.32 6.98 59.65 6.28 58.8 5.78C57.95 5.28 56.98 5.03 55.9 5.03C54.82 5.03 53.85 5.28 53 5.78C52.15 6.28 51.48 6.99 50.99 7.9C50.5 8.82 50.25 9.89 50.25 11.12C50.25 12.35 50.5 13.41 50.99 14.33C51.48 15.25 52.16 15.97 53.01 16.46C53.87 16.96 54.83 17.21 55.9 17.21C56.97 17.21 57.94 16.96 58.79 16.46ZM59.82 0V1.5H52.08V0H59.82Z" fill="currentColor"></path>
                      <path d="M78.7204 18.79L75.0704 12.52H72.6504V18.79H70.6504V3.45001H75.6004C76.7604 3.45001 77.7404 3.65001 78.5404 4.04001C79.3404 4.44001 79.9404 4.97001 80.3304 5.65001C80.7204 6.33001 80.9204 7.09001 80.9204 7.96001C80.9204 9.02001 80.6204 9.95001 80.0104 10.75C79.4004 11.56 78.4904 12.09 77.2704 12.36L81.1204 18.78H78.7204V18.79ZM72.6404 10.91H75.5904C76.6704 10.91 77.4904 10.64 78.0304 10.11C78.5704 9.58001 78.8404 8.86001 78.8404 7.96001C78.8404 7.06001 78.5704 6.35001 78.0404 5.85001C77.5004 5.35001 76.6904 5.10001 75.5904 5.10001H72.6404V10.91Z" fill="currentColor"></path>
                      <path d="M103.97 3.56V18.78H101.97V7.44L96.9099 18.79H95.4999L90.4199 7.42V18.79H88.4199V3.56H90.5799L96.2099 16.14L101.84 3.56H103.97Z" fill="currentColor"></path>
                    </g>
                    <g clip-path="url(#clip1_126_37)">
                      <path d="M89.11 37.79L85.46 31.52H83.04V37.79H81.04V22.45H85.99C87.15 22.45 88.13 22.65 88.93 23.04C89.73 23.44 90.33 23.97 90.72 24.65C91.12 25.32 91.31 26.09 91.31 26.96C91.31 28.02 91.01 28.95 90.4 29.75C89.79 30.55 88.88 31.09 87.66 31.36L91.51 37.78H89.11V37.79ZM83.04 29.91H85.99C87.08 29.91 87.89 29.64 88.43 29.11C88.97 28.58 89.24 27.86 89.24 26.96C89.24 26.06 88.97 25.35 88.44 24.85C87.91 24.35 87.09 24.1 85.99 24.1H83.04V29.91Z" fill="currentColor"></path>
                      <path d="M101.869 36.94C100.699 36.27 99.7693 35.34 99.0893 34.15C98.4093 32.95 98.0693 31.61 98.0693 30.11C98.0693 28.61 98.4093 27.27 99.0893 26.07C99.7693 24.87 100.699 23.94 101.869 23.28C103.039 22.61 104.339 22.28 105.759 22.28C107.179 22.28 108.499 22.61 109.679 23.28C110.849 23.95 111.779 24.87 112.449 26.06C113.119 27.25 113.459 28.6 113.459 30.11C113.459 31.62 113.119 32.97 112.449 34.16C111.779 35.35 110.849 36.28 109.679 36.94C108.509 37.61 107.199 37.94 105.759 37.94C104.319 37.94 103.039 37.61 101.869 36.94ZM108.649 35.46C109.509 34.96 110.179 34.25 110.669 33.33C111.159 32.41 111.409 31.34 111.409 30.12C111.409 28.9 111.159 27.81 110.669 26.9C110.179 25.98 109.509 25.28 108.659 24.78C107.809 24.28 106.839 24.03 105.759 24.03C104.679 24.03 103.709 24.28 102.859 24.78C102.009 25.28 101.339 25.99 100.849 26.9C100.359 27.82 100.109 28.89 100.109 30.12C100.109 31.35 100.359 32.41 100.849 33.33C101.339 34.25 102.019 34.97 102.869 35.46C103.729 35.96 104.689 36.21 105.759 36.21C106.829 36.21 107.789 35.96 108.649 35.46Z" fill="currentColor"></path>
                      <path d="M123.561 36.94C122.391 36.27 121.461 35.34 120.781 34.15C120.101 32.95 119.761 31.61 119.761 30.11C119.761 28.61 120.101 27.27 120.781 26.07C121.461 24.87 122.391 23.94 123.561 23.28C124.731 22.61 126.031 22.28 127.451 22.28C128.871 22.28 130.191 22.61 131.371 23.28C132.541 23.95 133.471 24.87 134.141 26.06C134.811 27.25 135.151 28.6 135.151 30.11C135.151 31.62 134.811 32.97 134.141 34.16C133.471 35.35 132.541 36.28 131.371 36.94C130.201 37.61 128.891 37.94 127.451 37.94C126.011 37.94 124.731 37.61 123.561 36.94ZM130.341 35.46C131.201 34.96 131.871 34.25 132.361 33.33C132.851 32.41 133.101 31.34 133.101 30.12C133.101 28.9 132.851 27.81 132.361 26.9C131.871 25.98 131.201 25.28 130.351 24.78C129.501 24.28 128.531 24.03 127.451 24.03C126.371 24.03 125.401 24.28 124.551 24.78C123.701 25.28 123.031 25.99 122.541 26.9C122.051 27.82 121.801 28.89 121.801 30.12C121.801 31.35 122.051 32.41 122.541 33.33C123.031 34.25 123.711 34.97 124.561 35.46C125.421 35.96 126.381 36.21 127.451 36.21C128.521 36.21 129.481 35.96 130.341 35.46Z" fill="currentColor"></path>
                      <path d="M157.75 22.5601V37.7801H155.75V26.4401L150.69 37.7901H149.28L144.2 26.4201V37.7901H142.2V22.5601H144.36L149.99 35.1401L155.62 22.5601H157.75Z" fill="currentColor"></path>
                    </g>
                    <defs>
                      <clippath id="clip0_126_37">
                        <rect width="104" height="19" fill="currentColor"></rect>
                      </clippath>
                      <clippath id="clip1_126_37">
                        <rect width="77" height="16" fill="currentColor" transform="translate(81 22)"></rect>
                      </clippath>
                    </defs>
                  </svg>
                  
                {% endunless %}
                  
                  </a>
              </div>
            
          

            
            
          
          <div class="header_utlity-links u-hflex-right-top u-gap-medium">
            <div class="hide-tablet">
              <a href="{{ section.settings.book_now_link }}" class="u-allcaps u-primary-medium">
                <div>Book now</div>
              </a>
            </div><button id="cartButton" class="u-allcaps">
              <div>Bag <span class="cart-quanity">{{ cart.item_count }}</span></div>
            </button>
          </div>
        </div>
      </div>

      <div class="header_background"></div>
      <div class="menu">
        <div class="padding-global max-width-full u-vflex-stretch-between u-gap-large">
          <div class="menu_mobile-button u-hflex-center-center">
            <a>
              <div class="u-allcaps ">Book now</div>
              <div class="button-link_underscore"></div>
            </a>
          </div>
          <ul role="list" class="menu_menu u-vflex-left-top u-gap-xsmall w-list-unstyled">
            {% for link in linklists.main-menu.links %}
              <li class="menu_item {% if link.url == request.path %}is--current{% endif %}">
                <a href="{{ link.url }}" class="w-inline-block">
                  <div class="u-h3 {% if link.url == request.path %}u-text-color-orange{% endif %}">{{ link.title }}</div>
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="menu_social u-vflex-stretch-top u-gap-small">
            <div class="hide-mobile-landscape">
              <div class="u-h3">Follow us</div>
            </div>
            <div class="menu_social-grid">
              <div id="w-node-_9af31d92-2b5a-8229-b36e-9d823d7def80-02e95be1" class="menu_social-item overflow-hidden"><img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt=""></div>
              <div id="w-node-_73b3c31d-6144-67a9-f4b4-f69752a35d19-02e95be1" class="menu_social-item overflow-hidden "><img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt=""></div>
              <div id="w-node-cee9dc87-fdd9-76f9-d215-2d34832384a6-02e95be1" class="menu_social-item overflow-hidden"><img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt=""></div>
              <div id="w-node-e90c2775-6fdb-0364-92fc-d11f0863f6fb-02e95be1" class="menu_social-item overflow-hidden"><img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt=""></div>
              <div id="w-node-_8272a547-992d-fb90-28bb-ce4895c5efd8-02e95be1" class="menu_social-item overflow-hidden"><img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt=""></div>
              <div id="w-node-f5121307-3c84-c215-a996-2f1446862217-02e95be1" class="menu_social-item overflow-hidden"><img src="{{ 'placeholder.svg' | asset_url }}" loading="lazy" alt=""></div>
            </div>
          </div>
          <div class="menu_footer">
            <div class="footer_bottom u-hflex-between-bottom">
              {% include 'newsletter-form' %}
              <div class="footer_credits">
                <p>© {{ "now" | date: "%Y" }} Reform Room by Twntytwo</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </header>




<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>
        {%- if request.page_type == 'index' -%}
        {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
        <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
        {%- endif -%}
      

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "url",
      "id": "book_now_link",
      "label": "Book now link"
    }
    ]
}
{% endschema %}
