<script src="{{ 'mini-cart.js' | asset_url }}" defer="defer"></script>


{% assign free_shipping_threshold = section.settings.free_shipping_threshold | times: 100 %}
{% assign cart_total = cart.total_price %}

{% assign progress_percentage = cart_total | times: 100.0 | divided_by: free_shipping_threshold %}
{% assign progress_width = progress_percentage | times: 0.9 %}

{% assign remaining_for_goal = free_shipping_threshold | minus: cart_total | money %}


<div class="mini-cart">
      <div class="mini-cart_background"></div>
      <form aria-modal="true" action="{{ routes.cart_url }}" method="POST" class="mini-cart_drawer">
        <div class="mini-cart_loader u-hflex-center-center hide">
          <div class="loader"></div>
        </div>
        <div class="mini-cart_header u-hflex-between-center">
          <div class="mini-cart_padding u-hflex-between-center max-width-full">
            <div class="u-h5 u-line-height-0">Your Bag</div>
            <div id="miniCartClose" role="button" aria-label="Close" class="icon-regular w-inline-block u-cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 20 20" fill="none">
                <g clip-path="url(#clip0_78_4066)">
                  <path d="M19.2857 0.714294L0.714294 19.2857" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                  <path d="M0.714294 0.714294L19.2857 19.2857" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke"></path>
                </g>
                <defs>
                  <clippath id="clip0_78_4066">
                    <rect width="20" height="20" fill="currentColor"></rect>
                  </clippath>
                </defs>
              </svg></div>
          </div>
          <div class="divider"></div>
        </div>
        <div scrollbar="" class="mini-cart_body">
         
            {% if cart.item_count > 0 %}
              <ul role="list" class="mini-cart_line-items u-vflex-stretch-top u-gap-medium w-list-unstyled">
              {% for item in cart.items %}
                <li>
                  {% render 'line-item', item: item, index: forloop.index %} 
                </li>
              {% endfor %}
              </ul>
            {% else %}
              <div class="mini-cart_empty u-vflex-center-center u-gap-small padding-large">
                <div>Your shopping bag is empty.</div>
              </div>
            {% endif %}
          
        </div>
        <div class="mini-cart_footer u-vflex-stretch-top u-gap-medium">
          <div class="cart-overview max-width-full u-vflex-stretch-top u-gap-small">
            <div class="cart-overview_line u-hflex-between-center">
              {% if cart.item_count == 1 %}
                <div><span class="">{{ cart.item_count }}</span> item</div>  
              {% else %}
                <div><span class="">{{ cart.item_count }}</span> items</div>  
              {% endif %}
            </div>
            <div class="cart-overview_line u-hflex-between-center">
              <div>Shipping</div>
              <div>Calculated at Checkout</div>
            </div>
            <div class="divider"></div>
            <div class="cart-overview_price u-hflex-between-center">
              <div class="cart-overview_title u-h3">Total</div>
              <div class="cart-overview_title u-h3">{{ cart.total_price | money }}</div>
            </div>
          </div><button type="submit" name="checkout" value="Checkout" class="button">
            <div class="button_text u-allcaps u-primary-medium">Proceed to checkout</div>
            <div class="button_loader u-hflex-center-center hide">
              <div class="loader"></div>
            </div>
          </button>
        </div>
      </form>
    </div>


{% schema %}
  {
    "name": "Mini cart",
    "settings": [
      {"type": "text",
      "id": "free_shipping_threshold",
      "default": "50",
      "label": "Free shipping threshold"}
  ]
  }
{% endschema %}