<section data-theme="inherit" class="section_shop">
        <div class="padding-global padding-section-large">
          <div class="shop_comp u-hflex-between-top u-hflex-nowrap u-gap-medium">
            <div class="shop_content u-vflex-left-top u-gap-xsmall">
              <h2 split-heading class="u-h1 max-width-medium">{{ section.settings.title }}</h2>
              <div class="hide-tablet">
                <a fade-up href="{{ section.settings.url }}">
                  <div class="u-allcaps u-primary-medium">{{ section.settings.cta }}</div>
                  <div class="button-link_underscore"></div>
                </a>
              </div>
            </div>
            <div class="shop_image"><img src="{{ section.settings.image | img_url: "master" }}" loading="lazy" alt="{{ section.settings.image }}"></div>
            <div fade-up class="shop_mobile-button">
              <a href="{{ section.settings.url }}">
                <div class="u-allcaps u-primary-medium">{{ section.settings.cta }}</div>
                <div class="button-link_underscore"></div>
              </a>
            </div>
          </div>
        </div>
      </section>


      {% schema %}
      {
        "name": "Shop",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Shop our reformer items"
          },
          {
            "type": "text",
            "id": "cta",
            "label": "CTA",
            "default": "Go to shop"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          }
          ]
      }
      {% endschema %}